data/
.idea/
scannerHistory/node_modules/
.env
similarGames/Nodejs/node_modules
scannerHistory/.env
similarGames/Nodejs/.env
deleterOldGames/.env
deleterOldGames/node_modules
site/live.sport/server/node_modules
site/live.sport/node_modules
site/live.sport/server/.env