version: '3'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
    volumes:
      - ./scannerHistory/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./data:/var/lib/postgresql/data
    ports:
      - 3200:5432
    networks:
      - mynetwork
  
  python-app:
    restart: always
    build:
      context: .
      dockerfile: similarGames/pythonApi/Dockerfile
    ports:
      - 3202:3202  # Проброс порта 8000 на локальной машине на порт 8000 в контейнере
    networks:
      - mynetwork
  
  scanner:
    restart: always
    build:
      context: .
      dockerfile: scannerHistory/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
    depends_on:
      - db
    networks:
      - mynetwork
  
  similarer:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
    depends_on:
      - db
    networks:
      - mynetwork
    ports:
      -3203:3203

networks:
  mynetwork: