version: '3'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 3200:5432
    networks:
      - mynetwork
  
  scanner:
    restart: always
    build:
      context: .
      dockerfile: scannerHistory/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    networks:
      - mynetwork
    
    command: sh ./start.sh
    
  
  similarer-soccer:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: SOCCER;WATER_POLO
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  
  similarer-table-tennis:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: TABLE_TENNIS;AMERICAN_FOOTBALL
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork

  similarer-tennis:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: TENNIS;SNOOKER
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork

  similarer-basketball:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: BASKETBALL;FUTSAL
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork

  similarer-cybersport:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: CYBERSPORT;CRICKET
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork

  similarer-hockey:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: HOCKEY;HANDBALL
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  
  similarer-basket:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: BASEBALL;VOLLEYBALL
      BOOKIEKEYS: BETMGM;PINNACLE;BETRADAR;BET365;FONBET;VIRGINBET
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  
  similarer-all-olimp:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: SOCCER;TABLE_TENNIS;TENNIS;BASKETBALL;CYBERSPORT;HOCKEY;BASEBALL;VOLLEYBALL;HANDBALL;CRICKET;FUTSAL;SNOOKER;AMERICAN_FOOTBALL;WATER_POLO
      BOOKIEKEYS: OLIMP
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  

  site:
    restart: always
    build:
      context: .
      dockerfile: site/live.sport/server/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: FUTSAL;TABLE_TENNIS;WATER_POLO;CYBERSPORT;SNOOKER;AMERICAN_FOOTBALL;CYBERSPORT;CRICKET
    depends_on:
      - db
    ports:
      - 8005:8005
    networks:
      - mynetwork
  
  deleter1:
    restart: always
    build:
      context: .
      dockerfile: deleterOldGames/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      SPORTKEYS: SOCCER;HOCKEY;TENNIS;BASEBALL;CRICKET;BASKETBALL;VOLLEYBALL;HANDBALL;FUTSAL;TABLE_TENNIS;WATER_POLO;CYBERSPORT;SNOOKER;AMERICAN_FOOTBALL
    depends_on:
      - db
    networks:
      - mynetwork

networks:
  mynetwork: