version: '3'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 3200:5432
    networks:
      - mynetwork
  
  scanner:
    restart: always
    build:
      context: .
      dockerfile: scannerHistory/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    networks:
      - mynetwork
    
    command: sh ./start.sh
    
  
  similarer1:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEY: TENNIS
    depends_on:
      - python
      - db
    networks:
      - mynetwork
  
  similarer2:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEY: SOCCER
    depends_on:
      - python
      - db
    networks:
      - mynetwork
  
  similarer3:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEY: HOCKEY
    depends_on:
      - python
      - db
    networks:
      - mynetwork
  
  similarer4:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEY: HOCKEY
    depends_on:
      - python
      - db
    networks:
      - mynetwork
  
  similarer5:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEY: HOCKEY
    depends_on:
      - python
      - db
    networks:
      - mynetwork
  
  
  python:
    restart: always
    build:
      context: .
      dockerfile: similarGames/pythonApi/Dockerfile
    ports:
      - 5000:5000  # Проброс порта 8000 на локальной машине на порт 8000 в контейнере
    networks:
      - mynetwork

networks:
  mynetwork: