version: '3'
services:
  db:
    image: postgres
    restart: always
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    volumes:
      - ./data:/var/lib/postgresql/data
    ports:
      - 3200:5432
    networks:
      - mynetwork
  
  scanner:
    restart: always
    build:
      context: .
      dockerfile: scannerHistory/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    networks:
      - mynetwork
    
    command: sh ./start.sh

  # python:
  #   restart: always
  #   build:
  #     context: .
  #     dockerfile: similarGames/pythonApi/Dockerfile
  #   ports:
  #     - 5000:5000  # Проброс порта 8000 на локальной машине на порт 8000 в контейнере
  #   networks:
  #     - mynetwork
    
  
  similarer1:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: SOCCER;BASKETBALL;BASEBALL;CRICKET;WATER_POLO
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  
  similarer2:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: TABLE_TENNIS;CYBERSPORT;VOLLEYBALL;FUTSAL;AMERICAN_FOOTBALL
    depends_on:
      # - python
      - db
    networks:
      - mynetwork
  
  similarer3:
    restart: always
    build:
      context: .
      dockerfile: similarGames/Nodejs/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: TENNIS;HOCKEY;HANDBALL;SNOOKER
    depends_on:
      # - python
      - db
    networks:
      - mynetwork

  site:
    restart: always
    build:
      context: .
      dockerfile: site/live.sport/server/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      PYTHON_API_URL: http://python:5000/api/names
      SPORTKEYS: FUTSAL;TABLE_TENNIS;WATER_POLO;CYBERSPORT;SNOOKER;AMERICAN_FOOTBALL
    depends_on:
      - db
    ports:
      - 8005:8005
    networks:
      - mynetwork
  
  deleter1:
    restart: always
    build:
      context: .
      dockerfile: deleterOldGames/Dockerfile
    environment:
      POSTGRES_USER: max
      POSTGRES_PASSWORD: jbfgslgsdlfkngd
      POSTGRES_DB: history
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      SPORTKEYS: SOCCER;HOCKEY;TENNIS;BASEBALL;CRICKET;BASKETBALL;VOLLEYBALL;HANDBALL;FUTSAL;TABLE_TENNIS;WATER_POLO;CYBERSPORT;SNOOKER;AMERICAN_FOOTBALL
    depends_on:
      - db
    networks:
      - mynetwork

networks:
  mynetwork: